<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dataMapper" >
    <update id="updateAverageData">
      UPDATE averagedata SET average_temperature=#{average_temperature}, average_humidity=#{average_humidity} WHERE user_id='ssong'

    </update>
    <insert id="insertDeviceData" >
        INSERT INTO DEVICE(user_id,airconditional,heater,humidifier,dehumidifier,create_date,update_date)
        VALUES ('ssong',#{airconditional},#{heater},#{humidifier},#{dehumidifier},NOW(),NOW());
    </insert>

</mapper>